@import "../abstracts/variables";
@import "../abstracts/mixins";

.button {
  display: inline-block;
  padding: 1rem 0.9rem;
  font-size: 1rem;
  text-align: center;
  text-decoration: none;
  border-top-left-radius: 0;
  border-top-right-radius: 1rem;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 1rem;
  border: none;
  cursor: pointer;
  transition: opacity 0.3s ease;

  @include respond(small) {
    font-size: 0.875rem;
  }

  &--primary {
    background-color: map-get($colors, "primary");
    color: rgba(map-get($colors, "light"), 0.8);

    &:hover {
      opacity: 0.8;
    }
  }
}     