{% extends './base.html' %}

{% load static %}

{% block content %}

{% if category %}

<div class="categories">
  <h2 class="heading-secondary">{{ category.name }}</h2>
</div>

<div class="categories__list">
  <div class="categories__item categories__item--1">
    <div class="categories__item__image-container">
      <img
        src="{% static 'dist/assets/meals/breakfast.png' %}"
        alt="Categories Item 1"
        class="categories__item__image"
      />
    </div>
    <div class="categories__item__content">
      <h3 class="heading-tertiary">Kahvaltı</h3>
    </div>
  </div>
  <div class="categories__item categories__item--1">
    <div class="categories__item__image-container">
      <img
        src="{% static 'dist/assets/meals/breakfast.png' %}"
        alt="Categories Item 1"
        class="categories__item__image"
      />
    </div>
    <div class="categories__item__content">
      <h3 class="heading-tertiary">Kahvaltı</h3>
    </div>
  </div>
  <div class="categories__item categories__item--1">
    <div class="categories__item__image-container">
      <img
        src="{% static 'dist/assets/meals/breakfast.png' %}"
        alt="Categories Item 1"
        class="categories__item__image"
      />
    </div>
    <div class="categories__item__content">
      <h3 class="heading-tertiary">Kahvaltı</h3>
    </div>
  </div>
  <div class="categories__item categories__item--1">
    <div class="categories__item__image-container">
      <img
        src="{% static 'dist/assets/meals/breakfast.png' %}"
        alt="Categories Item 1"
        class="categories__item__image"
      />
    </div>
    <div class="categories__item__content">
      <h3 class="heading-tertiary">Kahvaltı</h3>
    </div>
  </div>
  <div class="categories__item categories__item--1">
    <div class="categories__item__image-container">
      <img
        src="{% static 'dist/assets/meals/breakfast.png' %}"
        alt="Categories Item 1"
        class="categories__item__image"
      />
    </div>
    <div class="categories__item__content">
      <h3 class="heading-tertiary">Kahvaltı</h3>
    </div>
  </div>
  <div class="categories__item categories__item--1">
    <div class="categories__item__image-container">
      <img
        src="{% static 'dist/assets/meals/breakfast.png' %}"
        alt="Categories Item 1"
        class="categories__item__image"
      />
    </div>
    <div class="categories__item__content">
      <h3 class="heading-tertiary">Kahvaltı</h3>
    </div>
  </div>
  <div class="categories__item categories__item--1">
    <div class="categories__item__image-container">
      <img
        src="{% static 'dist/assets/meals/breakfast.png' %}"
        alt="Categories Item 1"
        class="categories__item__image"
      />
    </div>
    <div class="categories__item__content">
      <h3 class="heading-tertiary">Kahvaltı</h3>
    </div>
  </div>
  <div class="categories__item categories__item--1">
    <div class="categories__item__image-container">
      <img
        src="{% static 'dist/assets/meals/breakfast.png' %}"
        alt="Categories Item 1"
        class="categories__item__image"
      />
    </div>
    <div class="categories__item__content">
      <h3 class="heading-tertiary">Kahvaltı</h3>
    </div>
  </div>
  <div class="categories__item categories__item--1">
    <div class="categories__item__image-container">
      <img
        src="{% static 'dist/assets/meals/breakfast.png' %}"
        alt="Categories Item 1"
        class="categories__item__image"
      />
    </div>
    <div class="categories__item__content">
      <h3 class="heading-tertiary">Kahvaltı</h3>
    </div>
  </div>
  <div class="categories__item categories__item--1">
    <div class="categories__item__image-container">
      <img
        src="{% static 'dist/assets/meals/breakfast.png' %}"
        alt="Categories Item 1"
        class="categories__item__image"
      />
    </div>
    <div class="categories__item__content">
      <h3 class="heading-tertiary">Kahvaltı</h3>
    </div>
  </div>
  <div class="categories__item categories__item--1">
    <div class="categories__item__image-container">
      <img
        src="{% static 'dist/assets/meals/breakfast.png' %}"
        alt="Categories Item 1"
        class="categories__item__image"
      />
    </div>
    <div class="categories__item__content">
      <h3 class="heading-tertiary">Kahvaltı</h3>
    </div>
  </div>
  <div class="categories__item categories__item--1">
    <div class="categories__item__image-container">
      <img
        src="{% static 'dist/assets/meals/breakfast.png' %}"
        alt="Categories Item 1"
        class="categories__item__image"
      />
    </div>
    <div class="categories__item__content">
      <h3 class="heading-tertiary">Kahvaltı</h3>
    </div>
  </div>
  <div class="categories__item categories__item--1">
    <div class="categories__item__image-container">
      <img
        src="{% static 'dist/assets/meals/breakfast.png' %}"
        alt="Categories Item 1"
        class="categories__item__image"
      />
    </div>
    <div class="categories__item__content">
      <h3 class="heading-tertiary">Kahvaltı</h3>
    </div>
  </div>
  <div class="categories__item categories__item--1">
    <div class="categories__item__image-container">
      <img
        src="{% static 'dist/assets/meals/breakfast.png' %}"
        alt="Categories Item 1"
        class="categories__item__image"
      />
    </div>
    <div class="categories__item__content">
      <h3 class="heading-tertiary">Kahvaltı</h3>
    </div>
  </div>
</div>
{% endif %}

{% endblock %}